---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='30 Novembre' %}

  <div class="schedule" data-dates="11-30">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.15-9.45' title='Check-in' fill='true' %}
        {% include schedule/event.html time='9.45-9.55' title='Presentazione GrUSP' fill='true' %}
        {% include schedule/event.html time='9.55-10.05' title='Presentazione Laravel Italia' fill='true' %}

        <tr>
          <td class="schedule__cell schedule__cell--time">
            <span class="schedule__time">10.05-10.30</span>
            <span class="schedule__on-air">on air</span>
          </td>

          <td class="schedule__cell schedule__cell--event" colspan="3">
            <div class="schedule__title">
              <a href="/talks.html#damiano-petrungaro">Modern PHP development with Laravel 5.6</a>
              <div class="schedule__detail">
                <span class="schedule__speaker">
                  <a href="/talks.html#christian-nastasi" class="schedule__speaker">Christian Nastasi</a>
                  <a href="/talks.html#damiano-petrungaro" class="schedule__speaker">Damiano Petrungaro</a>
                </span>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          {% include schedule/talk.html time='10.35-11.00' title="Laravel applicato all'IIOT"  fill='true' %}
        </tr>

        {% include schedule/pause.html time='11.00-11.30' title='Short break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html time='11.30-12.20' title='Laravel e Vue JS' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='12.25-13.00' title="The Kubernetes hitchhiker's guide to the CI/CD" fill='true' %}
        </tr>

        {% include schedule/pause.html time='13.00-14.30' title='Lunch' icon="food" fill='true' %}

        <tr>
          {% include schedule/talk.html time='14.30-14.55' title='Docker for PHP Developers' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='15.00-15.25' title='Deploying Laravel from dev to production' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='15.30-15.55' title="Flexible Laravel: come rendere meno traumatica la gestione di un sistema legacy" fill='true' %}
        </tr>

        {% include schedule/pause.html time='15.55-16.25' title='Short break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html time='16.30-17.20' title='Sviluppare API con Laravel e Serverless su AWS' fill='true' %}
        </tr>

        {% include schedule/event.html time='17.25-17.35' title='Bye bye from GrUSP' fill='true' %}

        {% include schedule/pause.html time='17.35-18.30' title='Happy hour' icon="bar" fill='true' %}

      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="11-30">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html track='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.15-9.45' title='Check-in' fill='true' %}
        {% include schedule/event.html time='9.45-9.55' title='Presentazione GrUSP' fill='true' %}
        {% include schedule/event.html time='9.55-10.05' title='Presentazione Laravel Italia' fill='true' %}

        <tr>
          <td class="schedule__cell schedule__cell--time">
            <span class="schedule__time">10.05-10.30</span>
            <span class="schedule__on-air">on air</span>
          </td>

          <td class="schedule__cell schedule__cell--event" colspan="3">
            <div class="schedule__title">
              <a href="/talks.html#damiano-petrungaro">Modern PHP development with Laravel 5.6</a>
              <div class="schedule__detail">
                <span class="schedule__speaker">
                  <a href="/talks.html#christian-nastasi" class="schedule__speaker">Christian Nastasi</a>
                  <a href="/talks.html#damiano-petrungaro" class="schedule__speaker">Damiano Petrungaro</a>
                </span>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          {% include schedule/talk.html time='10.35-11.00' title="Laravel applicato all'IIOT"  fill='true' %}
        </tr>

        {% include schedule/pause.html time='11.00-11.30' title='Short break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html time='11.30-12.20' title='Laravel e Vue JS' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='12.25-13.00' title="The Kubernetes hitchhiker's guide to the CI/CD" fill='true' %}
        </tr>

        {% include schedule/pause.html time='13.00-14.30' title='Lunch' icon="food" fill='true' %}

        <tr>
          {% include schedule/talk.html time='14.30-14.55' title='Docker for PHP Developers' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='15.00-15.25' title='Deploying Laravel from dev to production' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='15.30-15.55' title="Flexible Laravel: come rendere meno traumatica la gestione di un sistema legacy" fill='true' %}
        </tr>

        {% include schedule/pause.html time='15.55-16.25' title='Short break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html time='16.30-17.20' title='Sviluppare API con Laravel e Serverless su AWS' fill='true' %}
        </tr>

        {% include schedule/event.html time='17.25-17.35' title='Bye bye from GrUSP' fill='true' %}

        {% include schedule/pause.html time='17.25-17.50' title='Happy hour' icon="bar" fill='true' %}

      </tbody>
    </table>
  </div>












</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
